<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="${@environment.getProperty('application_name')}"></title>
</head>
<body>
	<div th:replace="base::css-core"></div>
	<div id="wrapper">
		<div th:replace="layout-dashboard :: navbar"></div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 th:text="${#messages.msg('label.job_execution.title')}"
						class="page-header">Job Execution Details</h1>
				</div>
				<div class="col-lg-12">
					<div id="content">
						<section>
							<div th:if="${alertSuccess}" class="alert alert-success fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a><span
									th:text="${alertSuccess}">Success message.</span>
							</div>
							<div th:if="${alertWarning}" class="alert alert-warning fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a><span
									th:text="${alertWarning}">Warning message.</span>
							</div>
							<div th:if="${job_execution==null}" class="alert alert-warning">
								<span
									th:text="${#messages.msg('label.job_execution.not_found')}">Job
									execution not found.</span>
							</div>
							<table th:if="${job_execution!=null}" class="table">
								<thead>
									<tr>
										<th><span
											th:text="${#messages.msg('label.job_execution.key')}">Key</span></th>
										<th><span
											th:text="${#messages.msg('label.job_execution.value')}">Value</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td th:text="${#messages.msg('label.job_execution.job_name')}"></td>
										<td
											th:if="${@environment.getProperty('job_name.jobs.'+job_execution.jobInstance.jobName)==null}"
											th:text="${job_execution.jobInstance.jobName}">Job Name</td>
										<td
											th:unless="${@environment.getProperty('job_name.jobs.'+job_execution.jobInstance.jobName)==null}"
											th:text="${@environment.getProperty('job_name.jobs.'+job_execution.jobInstance.jobName)}">job
											name</td>
									</tr>
									<tr>
										<td
											th:text="${#messages.msg('label.job_execution.create_time')}"></td>
										<td><span th:if="${job_execution.createTime!=null}"
											class="timeago"
											th:title="${@jobController.getIso8601DateFormat(job_execution.createTime)}"
											th:text="${job_execution.createTime}"></span><span
											th:if="${job_execution.createTime!=null}"
											th:text="${#calendars.format(job_execution.createTime,'dd MMM yyyy HH:mm')}"></span></td>
									</tr>
									<tr>
										<td
											th:text="${#messages.msg('label.job_execution.start_time')}"></td>
										<td><span th:if="${job_execution.startTime!=null}"
											class="timeago"
											th:title="${@jobController.getIso8601DateFormat(job_execution.startTime)}"
											th:text="${job_execution.startTime}"></span><span
											th:if="${job_execution.startTime!=null}"
											th:text="${#calendars.format(job_execution.startTime,'dd MMM yyyy HH:mm')}"></span></td>
									</tr>
									<tr>
										<td th:text="${#messages.msg('label.job_execution.end_time')}"></td>
										<td><span th:if="${job_execution.endTime!=null}"
											class="timeago"
											th:title="${@jobController.getIso8601DateFormat(job_execution.endTime)}"
											th:text="${job_execution.endTime}"></span><span
											th:if="${job_execution.endTime!=null}"
											th:text="${#calendars.format(job_execution.endTime,'dd MMM yyyy HH:mm')}"></span></td>
									</tr>
									<tr>
										<td th:text="${#messages.msg('label.job_execution.status')}"></td>
										<td><span
											th:include="base :: job_status (${job_execution.status.toString()})">status</span></td>
									</tr>
								</tbody>
							</table>

							<h2
								th:if="${job_execution!=null and job_execution.stepExecutions.size() gt 0}"
								th:text="${#messages.msg('label.job_execution.steps.title')}">Execution
								Steps</h2>
							<table th:fragment="job_execution_steps"
								class="table table-compact"
								th:if="${job_execution!=null and job_execution.stepExecutions.size() gt 0}">
								<thead>
									<tr>
										<th
											th:text="${#messages.msg('label.job_execution.step.name')}">name</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.status')}">status</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.readCount')}">readCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.filterCount')}">filterCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.writeCount')}">writeCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.readSkipCount')}">readSkipCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.writeSkipCount')}">writeSkipCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.processSkipCount')}">processSkipCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.commitCount')}">commitCount</th>
										<th
											th:text="${#messages.msg('label.job_execution.step.rollbackCount')}">rollbackCount</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="step : ${job_execution.stepExecutions}">
										<td th:text="${step.stepName}">stepName</td>
										<td><span
											th:include="base :: job_status (${step.status.toString()})">status</span>
											<a class="details"
											th:if="${step.exitStatus.exitDescription!=null and !step.exitStatus.exitDescription.empty}"
											data-toggle="collapse" href="#collapse1"
											data-parent="collapse"
											th:attr="data-details=${step.exitStatus.exitDescription}">Details</a></td>
										<td th:text="${step.readCount}">readCount</td>
										<td th:text="${step.filterCount}">filterCount</td>
										<td th:text="${step.writeCount}">writeCount</td>
										<td th:text="${step.readSkipCount}">readSkipCount</td>
										<td th:text="${step.writeSkipCount}">writeSkipCount</td>
										<td th:text="${step.processSkipCount}">processSkipCount</td>
										<td th:text="${step.commitCount}">commitCount</td>
										<td th:text="${step.rollbackCount}">rollbackCount</td>
									</tr>
								</tbody>
							</table>

							<div id="details">
								<div id="collapse1" class="collapse">
									<pre class="details pre-scrollable"
										style="max-width: 800px; overflow-x: scroll; overflow-wrap: normal;">No details available</pre>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="base::js-core"></div>
	<script type="text/javascript">
		//<![CDATA[
		jQuery(document).ready(function() {
			$("a.details").click(function() {
				$("pre.details").html($(this).data('details'));
			});
			jQuery("span.timeago").timeago();
			(window.formDocumentReady || function() {
			})();
			setTimeout(function() {
				$(".alert").alert('close');
			}, 8000);
		});
		//]]>
	</script>
</body>
</html>