<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="${@environment.getProperty('application_name')}"></title>
</head>
<body>
	<div th:replace="base::css-core"></div>
	<div id="wrapper">
		<div th:replace="layout-dashboard :: navbar"></div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 th:text="${#messages.msg('label.job_scheduler.title')}"
						class="page-header">Job Scheduler</h1>
				</div>
				<div class="col-lg-12">
					<div id="content">
						<section>
							<div th:if="${alertSuccess}" class="alert alert-success fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a><span
									th:text="${alertSuccess}">Success message.</span>
							</div>
							<div th:if="${alertWarning}" class="alert alert-warning fade in">
								<a href="#" class="close" data-dismiss="alert">&times;</a><span
									th:text="${alertWarning}">Warning message.</span>
							</div>
							<p>
								<a href="#" th:href="@{/jobs}"
									th:text="${#messages.msg('label.job_scheduler.other_jobs')}"></a>
							</p>
							<table class="table" th:if="${not #lists.isEmpty(job_triggers)}">
								<thead>
									<tr>
										<th><span
											th:text="${#messages.msg('label.job_scheduler.trigger_job_name')}">Job
												Name</span></th>
										<th><span
											th:text="${#messages.msg('label.job_scheduler.trigger_calendar_name')}">Calendar
												Name</span></th>
										<th><span
											th:text="${#messages.msg('label.job_scheduler.trigger_cron_expression')}">Cron
												Expression</span></th>
										<th><span
											th:text="${#messages.msg('label.job_scheduler.trigger_next_runtime')}">Next
												Run Time</span></th>
										<th><span
											th:text="${#messages.msg('label.job_scheduler.trigger_state')}">Cron
												Expression</span></th>
										<th><span
											th:text="${#messages.msg('label.job_scheduler.action')}">Action</span></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="job_trigger : ${job_triggers}">
										<td><span
											th:if="${job_trigger.class.name=='org.quartz.impl.triggers.CronTriggerImpl'}"
											class="label label-success">Cron</span> <span
											th:if="${@environment.getProperty('job_name.jobs.'+job_trigger.group)==null}"
											th:text="${job_trigger.group}">job name</span> <span
											th:unless="${@environment.getProperty('job_name.jobs.'+job_trigger.group)==null}"
											th:text="${@environment.getProperty('job_name.jobs.'+job_trigger.group)}">job
												name</span></td>
										<td th:text="${job_trigger.calendarName}">calendar name</td>
										<td
											th:if="${job_trigger.class.name=='org.quartz.impl.triggers.CronTriggerImpl'}"
											th:text="${job_trigger.cronExpression}">cronExpression</td>
										<td
											th:unless="${job_trigger.class.name=='org.quartz.impl.triggers.CronTriggerImpl'}">
										</td>
										<td th:text="${job_trigger.nextFireTime}">next runtime</td>
										<td
											th:include="base :: trigger_state (${job_trigger_states.get(job_trigger.key)!=null?job_trigger_states.get(job_trigger.key).toString():'UNKNOWN'})">state</td>
										<td><a class="btn btn-xs btn-primary"
											th:href="@{'/jobs/'+${jobName}+'/scheduler/'+${job_trigger.name}}"
											th:text="${#messages.msg('label.job_scheduler.view')}">view</a></td>
									</tr>
								</tbody>
							</table>

							<div th:if="${#lists.isEmpty(job_triggers)}">
								<p
									th:text="${#messages.msg('label.job_scheduler.warning.isEmpty')}">No
									job schedules available.</p>
							</div>

							<div>
								<a class="btn btn-xs btn-primary"
									th:href="@{'/jobs/'+${jobName}+'/scheduler/add'}"><span
									class="glyphicon glyphicon-plus-sign"></span> <span
									th:text="${#messages.msg('label.job_scheduler.add')}">Add
										Trigger</span></a>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<div th:replace="base::js-core"></div>
	<script type="text/javascript">
		//<![CDATA[
		jQuery(document).ready(function() {
			jQuery("span.timeago").timeago();
			(window.formDocumentReady || function() {
			})();
			setTimeout(function() {
				$(".alert").alert('close');
			}, 8000);
		});
		//]]>
	</script>
</body>
</html>
