<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title
	th:text="${@environment.getProperty('application_name')} + ' - List Files'">List
	Files</title>
<link rel="stylesheet" th:if="${#themes.code('name')==''}"
	th:href="@{'/css/default-master.css'}" />
<link rel="stylesheet" th:if="${#themes.code('name')!=''}"
	th:href="@{'/css/' + ${#themes.code('name')} + '-master.css'}" />
</head>
<body
	th:class="${#themes.code('skin')+(@xchange3Util.fetchCookie(#httpServletRequest.cookies, 'minifyMenu')!=null?' minified':'')}"
	th:classappend="${#authentication.principal.perspective}">
	<div th:replace="layout-dashboard :: header-panel"></div>
	<div th:replace="layout-dashboard :: left-panel"></div>
	<div id="main" role="main">
		<div th:replace="layout-dashboard :: default-ribbon"></div>

		<div id="content">
			<section>
				<h1>List Files</h1>
				<div th:if="${alertSuccess}" class="alert alert-success fade in">
					<a href="#" class="close" data-dismiss="alert">&times;</a><span
						th:text="${alertSuccess}">Success message.</span>
				</div>
				<div th:if="${alertWarning}" class="alert alert-warning fade in">
					<a href="#" class="close" data-dismiss="alert">&times;</a><span
						th:text="${alertWarning}">Warning message.</span>
				</div>

				<div th:if="${#lists.isEmpty(pathList)}">
					<span th:text="${#messages.msg('label.upload.warning.isEmpty')}">Warning
						files is empty.</span>
				</div>
				<table class="table" th:if="${not #lists.isEmpty(pathList)}">
					<thead>
						<tr>
							<th class="col-md-6"
								th:utext="${#messages.msg('label.upload.filePath')}">File
								Path</th>
							<th class="col-md-6"
								th:utext="${#messages.msg('label.upload.fileAction')}">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="path : ${pathList}">
							<td th:utext="${path}"></td>
							<td><a class="btn btn-xs btn-info"
								th:href="@{/jobList/__${jobName}__/view(path=${path})}" href="#"
								th:text="${#messages.msg('label.button.view')}">View</a></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>

	<div th:replace="layout-dashboard :: footer-panel"></div>
	<div th:replace="layout-dashboard :: shortcut-panel"></div>
	<div th:replace="base :: scripts"></div>
	<script type="text/javascript">
		//<![CDATA[
		jQuery(document).ready(function() {
			// FIXME make dropzone work
			jQuery("span.timeago").timeago();
			setTimeout(function() {
				$(".alert").alert('close');
			}, 8000);
		});
		$("ul#menu-list li#administration-list").addClass("active");
		//]]>
	</script>

	<div th:replace="base :: script-google-analytics"></div>
</body>
</html>
